html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: inherit;
	vertical-align: baseline;
}

body {
  background-color: #ccc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.main-display {
  position: relative;
}

.viewbox {
  position: relative;
}

main {
  max-width: 1000px;
  min-width: 800px;
  padding: 0 100px;
  margin: 0 auto;
}

h1 {
  font-family: "Lato";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 0.5em;
  color: #333;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
  border-bottom-right-radius: 5px;
}

#github {
  margin: 8px;
  height: 30px;
}

header > a:nth-last-child(1) {
  border-top: 2px solid #888;
}

#linkedin {
  margin: 8px 3px 8px 8px;
  width: 35px;
  height: 30px;
}

.button-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
  display: flex;
}

canvas {
  border: 1px solid #ccc;
  background-color: white;
}

nav.button-bar button {
  font-family: "Lato";
}

.button-bar button {
  z-index: 3;
  margin-right: 5px;
}

ol, ul {
	list-style: none;
}

.snap-options-dropdown > p {
  margin: 0;
}

.snap-options-dropdown {
  position: relative;
  font: 400 13.3333px "Lato";
  padding: 1px 6px;
  border: 1px solid rgb(118,118,118);
  background-color: rgb(239,239,239);
  border-radius: 2px;
  margin-right: 5px;
}

div.snap-options-dropdown:hover > ul {
  display: flex;
  flex-direction: column;
}

div.snap-options-dropdown > ul > li {
  padding: 1px 6px;
}

div.snap-options-dropdown > ul > li:hover {
  background-color: rgb(211,211,211);
  cursor: pointer;
}

.snap-options-dropdown > ul {
  position: absolute;
  top: 1.5em;
  left: 0;
  display: none;
  border: 1px solid rgb(118,118,118);
  background-color: rgb(239,239,239);
  border-radius: 2px;
}


div.modal-background.visible {
  display: flex;
}

.modal-background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(50,54,58,0.3);
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.modal-background > aside {
  border-radius: 10px;
  padding: 2em;
  background-color: #ccd;
  margin: 3em;
  color: #333;
  font-family: 'Lato';
}

div.viewbox.blurred {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}